@model IEnumerable<Model.EF.Credential>

@{
    ViewBag.Title = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    
}

@section header{
    Cấp Quyền
}
@section Type{
    Danh Sách Cấp Quyền
}

<div class="box-header">
    <h3 class="box-title">Danh Sách Cấp Quyền</h3>
</div>
<div>
    <p>
        @Html.ActionLink("Thêm Quyền Cho Usergroup", "Create", "", new { @class = "btn btn-info" })
    </p>
</div>
<!-- /.box-header -->
<div class="box-body">
    <table id="example1" class="table table-bordered table-striped">
        <thead>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RoleID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserGroupID)
                </th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <th>
                        @Html.DisplayFor(Modelitem => item.RoleID)
                    </th>
                    <th>
                        @Html.DisplayFor(Modelitem => item.UserGroupID)
                    </th>
                    <td>
                        @*@Html.ActionLink("Sửa", "Edit", new { id = item.RoleID, item.UserGroupID }) |*@
                        @*@Html.ActionLink("Details", "Details", new { /* id=item.PrimaryKey */ }) |*@
                        @Html.ActionLink("Xóa", "Delete",new {id=1,item.RoleID,item.UserGroupID})
                        
                    </td>
                </tr>
            }
        </tbody>
        <tfoot>
            <tr>
                <th>
                    @Html.DisplayNameFor(model => model.RoleID)
                </th>
                <th>
                    @Html.DisplayNameFor(model => model.UserGroupID)
                </th>
                <th></th>
            </tr>
        </tfoot>
    </table>
</div>
<!-- /.box-body -->
@section scripts{
    <script>
$(document).ready(function () {
    $(".delete").on("click", function () {
        var parent = $(this).parent().parent();
        $.ajax({
            type: "get",
            url: "@Url.Action("Index","Credential")",
            ajaxasync: true,
            success: function () {
                
                alert("Xóa thành công");
            },
            error: function (data) {
                alert("Xóa không thành công");
            }
        });
    });
});
</script>
    }