<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title - My ASP.NET Application</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" href="~/Content/Site.css" />
    <link rel="stylesheet" href="~/Content/LayoutCss/My-Layout-2.css">
    <script type="text/javascript"></script>
    <script src="~/Scripts/LayoutJs/my-script.js"></script>
    <link rel="stylesheet" href="~/Content/LayoutCss/my-layout.css">
    <link href="~/Scripts/ckeditor/plugins/codesnippet/lib/highlight/styles/school_book.css" rel="stylesheet">

</head>



<body>
    <!-- SCROLL UP -->
    <a href="#" id="back-to-top"><span class='fa fa-arrow-up'></span></a>
    <!-- END SCROLL UP -->

    <div class="box effect2">
        <nav class="navbar navbar-inverse menu-top">

            <div class="container">
                <!-- List Menu -->

                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="collapse navbar-collapse" id="myNavbar">
                    <ul class="nav navbar-nav navbar-top-left">
                        <li class="dropdown">
                            <a class="dropdown-toggle" data-toggle="dropdown" href="#"><span class="caret"></span></a>
                            <ul class="dropdown-menu">
                                <li><a href="#">Page 1-1</a></li>
                                <li><a href="#">Page 1-2</a></li>
                                <li><a href="#">Page 1-3</a></li>
                            </ul>
                        </li>
                        <li><a href="#"></a></li>
                        <li><a href="#"></a></li>
                    </ul>
                    <ul class="nav navbar-nav navbar-right navbar-top-right">
                        <li><a href="#" class="facebook"><span class="fa fa-facebook-official"></span></a></li>
                        <li><a href="#" class="google"><span class="fa fa-google-plus-square"></span></a></li>
                        <li><a href="#" class="youtube"><span class="fa fa-youtube"></span></a></li>
                    </ul>
                </div>
            </div>

        </nav>
        <div class="container header-top">
            <h1>Nhom 2</h1>
        </div>
        @* -----------Menu------------ *@
        @RenderPage("~/Views/Shared/_MenuHeader.cshtml")
        
        <!-- BODY-MAIN -->
        <!-- directory -->
        <div class="col-sm-12">
            <div class="row">
                <div class="container">
                    <div class="directory-run">
                        <div class="col-md-1 col-sm-2 col col-xs-3 directory-left">
                            <div class="directory-boder-right">
                                <strong>BẢNG TIN</strong>
                            </div>
                        </div>

                        <div class="col-md-11 col-sm-10 col-xs-9 directory-content">
                            <div class="directory-boder-left">

                            </div>
                            <marquee direction="right">Đây là nhóm lập trình web nâng cao</marquee>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <!-- end directory -->
        <!-- Main Container -->
        @RenderBody()
        <!-- Main Container -->
        <!-- END MAIN -->
        <!-- Footer -->

        @RenderPage("~/Views/Shared/_Footer.cshtml")
        
        <!-- END FOOTER -->
    </div>

<!-- Javascript -->
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
<script type="text/javascript">
	if ($('#back-to-top').length) {
    var scrollTrigger = 100, // px
        backToTop = function () {
            var scrollTop = $(window).scrollTop();
            if (scrollTop > scrollTrigger) {
                $('#back-to-top').addClass('show');
            } else {
                $('#back-to-top').removeClass('show');
            }
        };
        backToTop();
        $(window).on('scroll', function () {
            backToTop();
        });
        $('#back-to-top').on('click', function (e) {
            e.preventDefault();
            $('html,body').animate({
                scrollTop: 0
            }, 700);
        });
    }
</script>

    
    
    @RenderSection("scripts", required: false)
</body>

</html>